<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body style = "font-family: monospace; letter-spacing: 0.1px">

  <nav style = "font-family: monospace; letter-spacing: 0.1px; font-size: 16px" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h4 class="title is-4" style = "margin-left: 10px;">Journal</h4>
      </a>

      <a class="navbar-item" href = "/about">
        About
      </a>

      <a class="navbar-item" href = "/contact">
        Contact
      </a>

    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href = "/about">
              About
            </a>
            <a class="navbar-item" href = "/contact">
              Contact
            </a>
            <a class="navbar-item" href = "/compose">
              Compose
            </a>
          </div>
        </div>

      </div>
  
      <div class="navbar-end">

        <div class="navbar-item">

          <div class="buttons">
            <% if (session) { %>
              <a class="button is-light" href = "/logout">
                Logout
              </a>
            <% } else { %>
              <a class="button is-primary" href = "/register">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href = "/login">
                Log in
              </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </nav>

    <section class="section">
      <div class="container" style="width: 90%">
