.footer {
    background-color: white;
}

nav {
    font-family: monospace; 
    letter-spacing: 0.1px; 
    font-size: 16px;
    box-shadow: 0 1px 10px -2px gray;
}

a {
    color: black;
}

a :hover {
    color: rgb(28, 28, 160);
}

.sign-form {
    display: flex;
    justify-content: center;
}

.delete-button {
    display: flex;
    justify-content: flex-end;
}

.post-footer {
    display: flex;
    justify-content: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 50px;
}

.form-content {
    width: 450px;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.logo {
    width: 270px;
    height: 140px;
}